<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <div style="width:1200px; margin:0 auto;">
            <div>주문 내역</div>
            <div style="border:1px solid gray; float:left; margin-left:50px; margin-top:10px;" th:each="ordersHistory : ${ordersHistoryList}" >
                <div style="float:left;">
                    주문 일자: [[${ordersHistory.created_date}]]<br>
                    가게명: [[${ordersHistory.store_name}]]<br>
                    <img th:src="${ordersHistory.store_picture_url}" style="width:50px; height:50px;">
                    주문 메뉴: [[${ordersHistory.menu_name}]]<br>
                    총 주문 금액: [[${ordersHistory.total_price}]]<br>
                    <a th:href="'http://localhost/store/read?store_id='+${ordersHistory.store_id}" style="color:blue">가게 상세보기</a><br>
                    주문 주소: [[${ordersHistory.order_address}]]

                    <form th:action="@{/review/register}" th:method="get"  >
                    <button type=submit style="width:60%;">리뷰등록</button>

                    <!--<input type="text" name="review_id" value="" />
                    <input type="text" name="user_id" value="" />
                    <input type="text" name="store_id" value="" />
                    <input type="text" name="menu_id" value="" />
                    <input type="text" name="rating" value="" />
                    <input type="text" name="picture_url" value="" />
                    <input type="text" name="status" value="" /> -->

                    </form>
                </div>
            </div>
        </div>







    </th:block>

</th:block>
