<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Review List
            <span>
                <a th:href="@{/review/register}">
                    <button type="button" class="btn btn-outline-primary">등록
                    </button>
                </a>
            </span>
        </h1>

        <form action="/review/list" method="get" id="searchForm">
            <input type="hidden" name="page" value="1">
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">가게명</th>
                <th scope="col">별점</th>
                <th scope="col">내용</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="review : ${reviewList}" >

                    <th scope="row">
                        <a th:href="@{/review/read(id = ${review.review_id} )}">
                          [[${review.review_id}]]
                        </a>
                    </th>
                    <td><b>[[${review.store_id}]]</b></td>
                    <td><b>[[${review.rating}]]</b></td>
                    <td><b>[[${review.content}]]</b></td>

                </tr>

            </tbody>
        </table>

    </th:block>

</th:block>
