<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">Review</h1>

        <form th:action="@{/review/read}" th:method="post" >
            <input type="hidden" name="id" th:value="${review.review_id}">
            <div class="form-group">
            <label>Review</label>
            <input type="text" class="form-control" name="content" th:value="${dto.content}" readonly>
        </div>

    <div class="form-group">
        <label>음식은 어떠셨어요?<span class="grade" ></span></label>




    </div>
    </th:block>
</th:block>
</html>