<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>
    .uploadResult {
        width: 100%;
        background-color: gray;
        margin-top: 10px;
    }

    .uploadResult ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        overflow: auto;
    }

    .uploadResult ul li {
        list-style: none;
        padding: 10px;
        margin-left: 2em;
    }

    .uploadResult ul li img {
        width: 100px;
    }
</style>


<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Review</h1>

        <form th:action="@{/review/register}" th:method="post"  >
            <div class="form-group">
                <label >음식은 어떠셨어요?<span class="rating"></span></label>
                <div class='starrr'></div>
            </div>

            <input type="text" name="store_name" th:value="${review.store_name}" />
            <input type="text" name="menu_name" th:value="${review.menu_name}" />
            <input type="text" name="rating" th:value="${review.rating}" />

            <div class="form-group fileForm">
                <label>Content</label>
                <div class="custom-file">
                    <textarea name="content" style="width:100%; height:100px" placeholder="음식의 맛, 양, 포장 상태 등 음식에 대한 솔직한 리뷰를 남겨주세요.(선택)"></textarea>
                </div>
            </div>

            <div class="form-group fileForm">
                    <label>사진 첨부</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input files" id="fileInput" multiple>
                        <label class="custom-file-label" data-browse="첨부하기"></label>
                    </div>
                </div>

                <div class="box">

                </div>

            <button type="submit" class="btn btn-primary">완료</button>
        </form>

    </th:block>

</th:block>
