body{
  width: 100%;
  height: 500px;
}

.header{
  width: 100%;
  height: 25%;
  background-color: rgb(66, 239, 216);
}

.he{
  width: 100%;
  height: 25%;
}



/*로고*/
.logo {
position:relative;
top:0px;
left: 150px;
z-index:2;}
.logo img { width:300px; }



/*로그인 버튼 */
.button_container {
  position: absolute;
  top: 25px;
  left: 1200px;
  z-index:2;
}


/* 검색 작업 */

.cit{
 position:relative;
 bottom: 90px;
 left: 550px;
 z-index:1;
}

.cit img {
width:50px;
}

.address{
 position:relative;
 width: 400px;
 bottom: 90px;
 left: 560px;
 z-index:1;
}

.search{
 position:relative;
 bottom: 90px;
 left: 570px;
 z-index:1;
}

.body_cit{
position:relative;
}

/* 메뉴 */
.menu{
 position:relative;

 float:left;
 left: 125px;
 width:15%;
 border:1px
 solid: rgb(255, 255, 255) ;
 margin:3%;
 height:200px;
}

.letter{

}

/* 반응형 */
@media screen and (min-width:1280px) and (max-width:1599px) {
.head{ position:relative; width:100%; height:80px;}

.logo
{
width:200px;
height:40px;
top:20px;
left:20px;
margin-left:0px;
}

}
@media screen and (min-width:1024px) and (max-width:1279px) {
.head{ position:relative; width:100%; height:80px;}

.logo
{
width:200px;
height:40px;
top:20px;
left:20px;
margin-left:0px;
}

}
@media screen and (min-width:780px) and (max-width:1023px) {
.head{ position:relative; width:100%; height:80px;}

.logo
{
width:200px;
height:40px;
top:20px;
left:20px;
margin-left:0px;
}

}
@media screen and (min-width:640px) and (max-width:779px) {
.head{ position:relative; width:100%; height:80px;}

.logo
{
width:200px;
height:40px;
top:20px;
left:20px;
margin-left:0px;
}

}
@media screen and (min-width:480px) and (max-width:639px) {
.head{ position:relative; width:100%; height:80px;}

.logo
{
position:relative;
top:20px;
left:0px;
width:200px;
height:45px;
margin:0px auto;
}

}
@media screen and (max-width:479px){
.head{ position:relative; width:100%; height:80px;}

.logo
{
top:20px;
width:140px;
margin-left:-70px;
}

}

@font-face {
  font-family: "ha";
  src: url("@{font/BMDOHYEON_ttf.ttf}");
}

.letter{
font-family: "ha";
font-size: 20px;
}
