
body{
  width: 100%;
  height: 500px;
}

.header{
  width: 100%;
  height: 25%;
  background-color: rgb(66, 239, 216);
}

.he{
  width: 100%;
  height: 25%;
}

/*로고*/
.logo {
position:relative;
bottom: 10px;
left: 150px;
z-index:2;}
.logo img { width:300px; }


.min img { width:50px; }


/*로그인 버튼 */
.button_container {
  position: absolute;
  top: 25px;
  left: 1250px;
  z-index:2;
}

/* 검색 작업 */
.cit{
 position:relative;
 bottom: 90px;
 left: 250px;
 z-index:1;
}

.cit img {
width:50px;
}

.address{
 position:relative;
 width: 400px;
 bottom: 90px;
 left: 260px;
 z-index:1;
}

.search{
 position:relative;
 bottom: 90px;
 left: 270px;
 z-index:1;
}

.body_cit{
position:relative;
}

/* 메뉴 */
.menu{
 position:relative;

 float:left;
 left: 125px;
 width:15%;
 border:1px
 solid: rgb(255, 255, 255) ;
 margin:3%;
 height:200px;
}

@font-face {
  font-family: "ha";
  src: url("../font/BMDOHYEON_ttf.ttf") format('truetype');
}
.mt-4
{
font-family: "ha";
font-size: 20px;
}

.letter{

font-family: "ha";
font-size: 20px;
}

.min
{
font-family: "ha";
font-size: 20px;
}

.ju
{
font-family: "ha";
font-size: 50px;
}

.modal-header
{
font-family: "ha";
font-size: 25px;
}

.bea
{
font-family: "ha";
font-size: 15px;
}

.order-menu-list
{

}